<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../static/image/favicon.ico}" th:href="@{/image/favicon.ico}">
    <link rel="stylesheet" href="../static/js/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" th:href="@{/js/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/js/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" th:href="@{/js/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
</head>
<body>
<div class="plc">

    <section class="container">
        <ul class="flexContain">
            <li>Giao hàng nhanh chóng</li>
            <li>Thanh toán linh hoạt: tiền mặt, visa / master, trả góp</li>
            <li>Trải nghiệm sản phẩm tại nhà</li>
            <li>Lỗi đổi tại nhà trong 1 ngày</li>
            <li>Hỗ trợ suốt thời gian sử dụng.
                <br>Hotline:
                <a th:href="@{/tel:12345678}" style="color: #288ad6;">1234.5678</a>
            </li>
        </ul>
    </section>
</div>
<div class="footer">
    <!-- ============== Alert Box ============= -->
    <div id="alert" style="opacity: 0; z-index: 0;">
        <span id="closebtn">⊗</span>
    </div>

    <!-- ============== Footer ============= -->
    <div class="copy-right">
        <p><a href="@{/index.html}">ShopMobile Store</a> - All rights reserved © 2018 - Designed by
            <span style="color: #eee; font-weight: bold">K-group</span></p>
    </div></div>

<!-- Optional JavaScript -->
<div id="stop" class="scrollTop">
    <span><a href="">Top</a></span>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script th:src="@{/js/Jquery/Jquery.min.js}" src="../static/js/Jquery/Jquery.min.js"></script>
<script th:src="@{/js/OwlCarousel2-2.3.4/dist/owl.carousel.min.js}" src="../static/js/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
<script th:src="@{/js/OwlCarousel2-2.3.4/dist/scrolls.js}" src="../static/js/OwlCarousel2-2.3.4/dist/scrolls.js"></script>
<script th:src="@{/js/scroll.js}" src="../static/js/scroll.js"></script>

</body>
</html>